<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title></title>
  </head>
  <body>
    <%- include('header') %>
    <div class="itemsDiv">

      <% items.forEach((item, index) => { %>
        <% const {item_name, item_description, item_image, item_price, item_quantity} = item %>
        <div class="itemContainer">
            <img class="itemImage" src="<%= item_image %>" alt="">
          <p><%= item_name %></p>
          <p><%= item_description %></p>
          <p><%= item_price %></p>
          <p> Only <%= item_quantity %> items left</p>
        </div>


      <%} ) %>

    </div>
  </body>
</html>
